language: c
sudo: false
cache: apt

# APT packages you need to install
addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - libgsl0-dev

script: bash -eu .travis-ci.sh

os:
  - linux
env:
  matrix:
    - OCAML_VERSION=3.12.1 OPAM_VERSION=1.2.2
    - OCAML_VERSION=4.00.1 OPAM_VERSION=1.2.2
    - OCAML_VERSION=4.01.0 OPAM_VERSION=1.2.2
    - OCAML_VERSION=4.02.2 OPAM_VERSION=1.2.2